<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<servlet>
		<display-name>movie.web.actor</display-name>
		<servlet-name>movie.web.actor</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>movie.web.resource.ActorResource</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.address</param-name>
			<param-value>/api</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>movie.web.actor</servlet-name>
		<url-pattern>/actor/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<display-name>movie.web.film</display-name>
		<servlet-name>movie.web.film</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>movie.web.resource.FilmResource</param-value>
		</init-param>
		<init-param>
			<param-name>jaxrs.address</param-name>
			<param-value>/api</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>movie.web.film</servlet-name>
		<url-pattern>/film/*</url-pattern>
	</servlet-mapping>
	
</web-app>